*.sublime-*
*.userprefs
.tags
tags
tags.lock
tags.temp

# Latex
*.fdb_latexmk
*.aux
*.fls
*.synctex.gz

# Vim-Orgmode
*.org


*.log
vimsession

.env
.ssh

# Ruby
.byebug_history

# Import-js config files
.importjs.js

.hgignore
.nvimrc
.dir-locals.el
.projectile

flutter_run_pid
