"*":
  "atom-material-ui":
    colors:
      abaseColor:
        alpha: 1
        blue: 4
        green: 171
        red: 135
      accentColor:
        alpha: 1
        blue: 231
        green: 231
        red: 231
      genAccent: true
    fonts: {}
    tabs: {}
    treeView:
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  "autocomplete-plus":
    confirmCompletion: "enter"
  core:
    autoHideMenuBar: true
    destroyEmptyPanes: false
    disabledPackages: [
      "wrap-guide"
      "spell-check"
      "atomatigit"
      "vim-mode-clipboard-plus"
      "highlight-selected"
    ]
    themes: [
      "seti-ui"
      "gruvbox"
    ]
  editor:
    backUpBeforeSaving: true
    fontFamily: "InputMono Light"
    invisibles:
      tab: "▻"
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 2
  "exception-reporting":
    userId: "c39a5722-f26c-ca60-77f1-a73b1e598e40"
  "fuzzy-finder":
    preserveLastSearch: true
    searchAllPanes: true
  "git-plus":
    openInPane: false
  "highlight-line":
    enableSelectionBorder: true
    enableUnderline: true
  "highlight-selected":
    onlyHighlightWholeWords: false
  "isotope-ui":
    customBackgroundColorPicker:
      alpha: 1
      blue: 38
      green: 38
      red: 38
    lowContrastTooltip: true
    minimalMode: true
  "keyboard-localization":
    useKeyboardLayoutFromPath: "/home/linucc/.atom/gb_locale.json"
  latex:
    enableShellEscape: true
  "multi-wrap-guide":
    columns: [
      80
      100
    ]
    locked: true
    silent: true
  pigments:
    markerType: "underline"
    mergeColorDuplicates: true
  "project-manager": {}
  "ruby-test":
    shell: "/bin/zsh"
    testFileCommand: "~/bin/blautotest {relative_path}"
  "save-session":
    dataSaveFolder: "/home/linucc/.atom/packages/save-session/projects"
  "vim-mode":
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
".diff.source":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".haml.text":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
  "multi-wrap-guide":
    columns: [
      80
      100
    ]
".hamlc.text":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".html.ruby.text":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".js.rails.source source.jquery.js":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".latex.tex.text":
  editor:
    preferredLineLength: 100
  "multi-wrap-guide":
    columns: [
      80
      100
    ]
".rails.rjs.ruby.source":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".rails.ruby.source":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".ruby.source":
  editor:
    preferredLineLength: 100
  "multi-wrap-guide":
    columns: [
      80
      100
    ]
    rows: []
".ruby.source.sql":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
